In [173]:
import numpy as np
import pandas as pd

In [174]:
data = pd.read_csv('school.csv')

In [175]:
data.head()

,Unnamed: 0,number,name,school_selected,course,type,location
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA
2,2,S0972.0011.2021,ERICA CHARLES MALIMA,NATIONAL INSTITUTE OF TRANSPORT (NIT),FREIGHT CLEARING AND FORWARDING,College,KINONDONI MC - DAR ES SALAAM
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA

In [176]:
data = data[data['type'] != 'College']

In [177]:
data.type.unique()

array(['Boarding School', 'Teachers College', 'Technical', 'Day School',
       'Special School', 'Health and Allied'], dtype=object)

In [178]:
data = data[data['type'] != 'Health and Allied']

In [179]:
data = data[data['type'] != 'Teachers College']

In [180]:
data = data[data['type'] != 'Technical']

In [181]:
data

,Unnamed: 0,number,name,school_selected,course,type,location
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA
5,5,S0972.0032.2021,MERSE ATHANAS MRISHO,CHIUNGUTWA SECONDARY SCHOOL,HKL,Boarding School,MASASI DC - MTWARA
...,...,...,...,...,...,...,...
36308,13,S1408.0061.2021,SHABO BILIA SALES,NAWENGE SECONDARY SCHOOL,CBG,Boarding School,ULANGA DC - MOROGORO
36309,0,S2443.0001.2021,ANITHA LEONARD MDEMU,LUGOBA SECONDARY SCHOOL,PCM,Boarding School,CHALINZE DC - PWANI
36312,3,S2443.0026.2021,GEORGE EMMANUEL LUTUBIJA,KAHORORO SECONDARY SCHOOL,HKL,Boarding School,BUKOBA MC - KAGERA
36313,4,S2443.0032.2021,SAMWELI PETRO DENIS,IHUNGO SECONDARY SCHOOL,EGM,Boarding School,BUKOBA MC - KAGERA
36314,5,S2443.0033.2021,THOMAS ALEXANDER DAUD,MAWELEWELE SECONDARY SCHOOL,CBG,Boarding School,IRINGA MC - IRINGA

In [182]:
courses = data.course.unique()

In [183]:
courses

array(['HGK', 'HKL', 'EGM', 'HGL', 'CBG', 'PCB', 'PCM', 'HGE', 'PGM',
       'ECA', 'KLF', 'KEC', 'CBN', 'PMCs', 'CBA'], dtype=object)

In [184]:
len(courses)

15

In [185]:
H = 'History'
G = 'Geography'
K = 'Kiswahili'
L = 'English Language'
E = 'Economics'
M = 'Advance Mathematics'
C = 'Chemistry'
B = 'Bilogy'
p = 'Physics'
A = 'Agriculture'
F = 'Franch'
N = 'Neutrition'

In [186]:
subjects = {'HGK':[], 'HKL':[], 'EGM':[], 'HGL':[], 'CBG':[], 'PCB':[], 'PCM':[], 'HGE':[], 'PGM':[],
       'ECA':[], 'KLF':[], 'KEC':[], 'CBN':[], 'PMCs':[], 'CBA':[]}

In [187]:
j = 0
while True:
    comb = courses[j]
    subj = ''
    for i in comb:
        if i == 'H': 
            subj = 'History'
        
        elif i == 'G': 
            subj='Geography'
        
        elif i == 'K': 
            subj='Kiswahili'
        
        elif i == 'L': 
            subj='English Language'
        
        elif i == 'E': 
            subj='Economics'
        
        elif i == 'M': 
            subj='Advance Mathematics'
        
        elif i == 'C': 
            subj='Chemistry'
        
        elif i == 'B': 
            subj='Bilogy'
        
        elif i == 'P': 
            subj='Physics'
        
        elif i == 'A': 
            subj='Agriculture'
        
        elif i == 'F': 
            subj='Franch'
        
        elif i == 'N': 
            subj='Neutrition'
        subjects[comb].append(subj)
    j +=1
    if j ==15:
        break

In [188]:
subjects

{'HGK': ['History', 'Geography', 'Kiswahili'],
 'HKL': ['History', 'Kiswahili', 'English Language'],
 'EGM': ['Economics', 'Geography', 'Advance Mathematics'],
 'HGL': ['History', 'Geography', 'English Language'],
 'CBG': ['Chemistry', 'Bilogy', 'Geography'],
 'PCB': ['Physics', 'Chemistry', 'Bilogy'],
 'PCM': ['Physics', 'Chemistry', 'Advance Mathematics'],
 'HGE': ['History', 'Geography', 'Economics'],
 'PGM': ['Physics', 'Geography', 'Advance Mathematics'],
 'ECA': ['Economics', 'Chemistry', 'Agriculture'],
 'KLF': ['Kiswahili', 'English Language', 'Franch'],
 'KEC': ['Kiswahili', 'Economics', 'Chemistry'],
 'CBN': ['Chemistry', 'Bilogy', 'Neutrition'],
 'PMCs': ['Physics', 'Advance Mathematics', 'Chemistry', 'Chemistry'],
 'CBA': ['Chemistry', 'Bilogy', 'Agriculture']}

In [189]:
subjects['ECA'][1] = 'Commerce'
subjects['PMCs'][2] = 'Computer'

In [190]:
category = {'HGK':[], 'HKL':[], 'EGM':[], 'HGL':[], 'CBG':[], 'PCB':[], 'PCM':[], 'HGE':[], 'PGM':[],
       'ECA':[], 'KLF':[], 'KEC':[], 'CBN':[], 'PMCs':[], 'CBA':[]}

In [191]:
for comb in courses:
    depart = ''
    for i in comb:
        if i == 'H' or i == 'K' or i == 'L':
            depart = 'Arts'
        elif i == 'P' or i == 'C':
            depart = 'Science'
        elif i == 'E':
            depart = 'Economics'
    category[comb].append(depart)

In [192]:
category

{'HGK': ['Arts'],
 'HKL': ['Arts'],
 'EGM': ['Economics'],
 'HGL': ['Arts'],
 'CBG': ['Science'],
 'PCB': ['Science'],
 'PCM': ['Science'],
 'HGE': ['Economics'],
 'PGM': ['Science'],
 'ECA': ['Science'],
 'KLF': ['Arts'],
 'KEC': ['Science'],
 'CBN': ['Science'],
 'PMCs': ['Science'],
 'CBA': ['Science']}

In [193]:
category['ECA'][0]= 'Economics'
category['KEC'][0] = 'Economics'

In [194]:
data.head()

,Unnamed: 0,number,name,school_selected,course,type,location
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA
5,5,S0972.0032.2021,MERSE ATHANAS MRISHO,CHIUNGUTWA SECONDARY SCHOOL,HKL,Boarding School,MASASI DC - MTWARA

In [195]:
courses

array(['HGK', 'HKL', 'EGM', 'HGL', 'CBG', 'PCB', 'PCM', 'HGE', 'PGM',
       'ECA', 'KLF', 'KEC', 'CBN', 'PMCs', 'CBA'], dtype=object)

In [199]:
subj_depart = {'History':[], 'Geography':[], 'Kiswahili':[], 'English Language':[], 'Economics':[], 'Advance Mathematics':[], 'Chemistry':[], 'Bilogy':[], 'Physics':[], 'Agriculture':[], 'Franch':[], 'Neutrition':[],'Commerce':[], 'Computer':[]}

In [200]:
all_subjects = ['History', 'Geography', 'Kiswahili', 'English Language', 'Economics', 'Advance Mathematics', 'Chemistry', 'Bilogy', 'Physics', 'Agriculture', 'Franch', 'Neutrition', 'Commerce', 'Computer']

In [201]:
for i in all_subjects:
    if i == 'History':
        subj_dept ='Arts'
    elif i == 'Geography':
        subj_dept ='Science'
    elif i == 'Kiswahili':
        subj_dept ='Arts'
    elif i == 'English Language':
        subj_dept ='Arts'
    elif i == 'Economics':
        subj_dept ='Economics'
    elif i == 'Advance Mathematics':
        subj_dept ='Science'
    elif i == 'Chemistry':
        subj_dept ='Science'
    elif i == 'Bilogy':
        subj_dept ='Science'
    elif i == 'Physics':
        subj_dept ='Science'
    elif i == 'Agriculture':
        subj_dept ='Science'
    elif i == 'Franch':
        subj_dept = 'Arts'
    elif i == 'Neutrition':
        subj_dept ='Science'
    elif i == 'Commerce':
        subj_dept ='Economics'
    elif i == 'Computer':
        subj_dept ='Science'
    subj_depart[i].append(subj_dept)

In [202]:
subj_depart

{'History': ['Arts'],
 'Geography': ['Science'],
 'Kiswahili': ['Arts'],
 'English Language': ['Arts'],
 'Economics': ['Economics'],
 'Advance Mathematics': ['Science'],
 'Chemistry': ['Science'],
 'Bilogy': ['Science'],
 'Physics': ['Science'],
 'Agriculture': ['Science'],
 'Franch': ['Arts'],
 'Neutrition': ['Science'],
 'Commerce': ['Economics'],
 'Computer': ['Science']}

In [203]:
for index ,row  in data.iterrows():
    course=row["course"]
    subject = subjects[course]
    department = category[course]
    data.at[index,"Department"]=department[0]
    data.at[index,"Subjects1"]=subject[0]
    data.at[index,"Subjects1_deparment"]=subj_depart[subject[0]][0]
    
    data.at[index,"Subjects2"]=subject[1]
    data.at[index,"Subjects2_deparment"]=subj_depart[subject[1]][0]
    data.at[index,"Subjects3"]=subject[2]
    data.at[index,"Subjects3_deparment"]=subj_depart[subject[2]][0]
    data.at[index,"Subjects4"]='General Studies'
    data.at[index,"Subjects4_deparment"]='Arts'
    
    if course == 'PCB' or course == 'CBG' or course == 'HGE' or course == 'CBN' or course == 'KEC':
         
        data.at[index,"Subjects5"]='Basic Applied Mathematics'
        data.at[index,"Subjects5_deparment"]='Science'
    else:
        data.at[index,"Subjects5"]='--'
        data.at[index,"Subjects5_deparment"]='Science'

In [204]:
data['Level'] = 'Advance'

In [205]:
data['class1'] = 'Form Five'
data['class1'] = 'Form Six'

In [206]:
data.head()

,Unnamed: 0,number,name,school_selected,course,type,location,Department,Subjects1,Subjects1_deparment,Subjects2,Subjects2_deparment,Subjects3,Subjects3_deparment,Subjects4,Subjects4_deparment,Subjects5,Subjects5_deparment,Level,class1
0,0,S0972.0004.2021,CHICHI DAUDI MALONGO,LONDONI SECONDARY SCHOOL,HGK,Boarding School,SONGEA MC - RUVUMA,Arts,History,Arts,Geography,Science,Kiswahili,Arts,General Studies,Arts,--,Science,Advance,Form Six
1,1,S0972.0009.2021,ELICKA LEONARD EDWARD,KIBAKWE SECONDARY SCHOOL,HGK,Boarding School,MPWAPWA DC - DODOMA,Arts,History,Arts,Geography,Science,Kiswahili,Arts,General Studies,Arts,--,Science,Advance,Form Six
3,3,S0972.0030.2021,MARTHA YONA CHIDANHA,MATOMBO SECONDARY SCHOOL,HKL,Boarding School,MOROGORO DC - MOROGORO,Arts,History,Arts,Kiswahili,Arts,English Language,Arts,General Studies,Arts,--,Science,Advance,Form Six
4,4,S0972.0031.2021,MARY GEORGE MTOKAMBALI,NANGWANDA GIRLS' SECONDARY SCHOOL,HKL,Boarding School,NEWALA TC - MTWARA,Arts,History,Arts,Kiswahili,Arts,English Language,Arts,General Studies,Arts,--,Science,Advance,Form Six
5,5,S0972.0032.2021,MERSE ATHANAS MRISHO,CHIUNGUTWA SECONDARY SCHOOL,HKL,Boarding School,MASASI DC - MTWARA,Arts,History,Arts,Kiswahili,Arts,English Language,Arts,General Studies,Arts,--,Science,Advance,Form Six

In [207]:
data[data['course'] == 'PCM']['Department'].iloc[0]

'Science'

In [209]:
for i in range(1,4):
    print(i)

1
2
3

In [208]:
data.to_csv('advance.csv', index=False)